<a href="https://colab.research.google.com/github/Kshitijars18/Phishing-URL-Detection/blob/main/AlgoBulls_Assignment(solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project Design a simple Algorithmic Trading Strategy**

**Description:** Code a simple trading strategy in a Jupyter Notebook as per the
given requirements

**Task 1**
: Define a Class ScriptData which can fetch US Stock data using Alpha Vantage.

In [ ]:
#install and import required python libraries
import pandas as pd
import numpy as np
import requests
!pip install alpha_vantage
from alpha_vantage.timeseries import TimeSeries

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from alpha_vantage) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from alpha_vantage) (3.8.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (2.1.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (22.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->alpha_vantage) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->alpha_vantage) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->alpha_vantage) (1.24.3)
Installing collected packages: alpha_vantage
Successfully installed alpha_vantage-2.3.1

In [ ]:
class ScriptData:
    def __init__(self):
        self.intraday_data = {}

    def fetch_intraday_data(self, script):
        API_KEY = 'SPEQGVGL40TIZHCM' #Used API Key generated 
        function = 'TIME_SERIES_INTRADAY'
        interval = '1min'
        symbol = script
        url = f'https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval={interval}&apikey={API_KEY}'
        response = requests.get(url)
        self.intraday_data[script] = response.json()

    def convert_intraday_data(self, script):
        data = self.intraday_data[script]['Time Series (1min)']
        timestamp = [pd.Timestamp(time) for time in data.keys()]
        open_price = [float(data[time]['1. open']) for time in data.keys()]
        high = [float(data[time]['2. high']) for time in data.keys()]
        low = [float(data[time]['3. low']) for time in data.keys()]
        close = [float(data[time]['4. close']) for time in data.keys()]
        volume = [int(data[time]['5. volume']) for time in data.keys()]
        self.intraday_data[script] = pd.DataFrame({'timestamp': timestamp, 'open': open_price, 'high': high, 'low': low, 'close': close, 'volume': volume})

    def __getitem__(self, script):
        return self.intraday_data[script]

    def __setitem__(self, script, df):
        self.intraday_data[script] = df

    def __contains__(self, script):
        return script in self.intraday_data

In [ ]:
script_data = ScriptData()
script_data.fetch_intraday_data('GOOGL')
script_data.convert_intraday_data('GOOGL')
df = script_data['GOOGL']
print(df)

             timestamp   open     high    low    close  volume
0  2023-02-13 20:00:00  94.35  94.4000  94.35  94.4000    5564
1  2023-02-13 19:59:00  94.28  94.3700  94.28  94.3000    1431
2  2023-02-13 19:58:00  94.38  94.3800  94.31  94.3100    2025
3  2023-02-13 19:57:00  94.35  94.3500  94.35  94.3500    4241
4  2023-02-13 19:55:00  94.35  94.3500  94.35  94.3500    2114
..                 ...    ...      ...    ...      ...     ...
95 2023-02-13 17:34:00  94.58  94.5800  94.58  94.5800     921
96 2023-02-13 17:32:00  94.60  94.6013  94.60  94.6013     215
97 2023-02-13 17:31:00  94.55  94.5500  94.55  94.5500     889
98 2023-02-13 17:30:00  94.60  94.6000  94.60  94.6000     219
99 2023-02-13 17:29:00  94.60  94.6000  94.60  94.6000     389

[100 rows x 6 columns]

In [ ]:
script_data.fetch_intraday_data('AAPL')
script_data.convert_intraday_data('AAPL')
script_data['AAPL']

             timestamp      open      high       low     close  volume
0  2023-02-13 20:00:00  153.6300  153.7000  153.6000  153.7000    3970
1  2023-02-13 19:59:00  153.6400  153.6400  153.6300  153.6400    1319
2  2023-02-13 19:58:00  153.6400  153.6400  153.6400  153.6400     971
3  2023-02-13 19:57:00  153.6600  153.7000  153.6500  153.6900    1581
4  2023-02-13 19:55:00  153.6600  153.6600  153.6600  153.6600    1717
..                 ...       ...       ...       ...       ...     ...
95 2023-02-13 17:16:00  153.8700  153.8800  153.8100  153.8100    6394
96 2023-02-13 17:15:00  153.8000  153.8800  153.8000  153.8800    4039
97 2023-02-13 17:14:00  153.8000  153.8000  153.8000  153.8000    1740
98 2023-02-13 17:13:00  153.7600  153.7900  153.7600  153.7900     887
99 2023-02-13 17:12:00  153.7524  153.7524  153.7524  153.7524     294

[100 rows x 6 columns]

In [ ]:
'GOOGL' in script_data

True

In [ ]:
'AAPL' in script_data

True

In [ ]:
'NVDA' in script_data

False

**Task 2:** Define a function called indicator1. It should take “df” and ‘timeperiod’ (integer) as
inputs and give another pandas DataFrame as an output with two columns 

a. timestamp

b. indicator

In [ ]:
def indicator1(df, timeperiod):
    df['indicator'] = df['close'].rolling(timeperiod).mean()
    return df[['timestamp', 'indicator']]

In [ ]:
indicator1(script_data['GOOGL'], timeperiod=5)

             timestamp  indicator
0  2023-02-13 20:00:00        NaN
1  2023-02-13 19:59:00        NaN
2  2023-02-13 19:58:00        NaN
3  2023-02-13 19:57:00        NaN
4  2023-02-13 19:55:00   94.34200
..                 ...        ...
95 2023-02-13 17:34:00   94.56200
96 2023-02-13 17:32:00   94.56626
97 2023-02-13 17:31:00   94.56626
98 2023-02-13 17:30:00   94.57626
99 2023-02-13 17:29:00   94.58626

[100 rows x 2 columns]

In [ ]:
indicator1(script_data['AAPL'], timeperiod=5)

             timestamp  indicator
0  2023-02-13 20:00:00        NaN
1  2023-02-13 19:59:00        NaN
2  2023-02-13 19:58:00        NaN
3  2023-02-13 19:57:00        NaN
4  2023-02-13 19:55:00  153.66600
..                 ...        ...
95 2023-02-13 17:16:00  153.79562
96 2023-02-13 17:15:00  153.82008
97 2023-02-13 17:14:00  153.81800
98 2023-02-13 17:13:00  153.81600
99 2023-02-13 17:12:00  153.80648

[100 rows x 2 columns]

**Task 3:** Define a class Strategy, which can do the following, given a script name

In [ ]:
import pandas as pd
import requests

class ScriptData:
    def __init__(self):
        self.intraday_data = {}

    def fetch_intraday_data(self, script):
        API_KEY = 'SPEQGVGL40TIZHCM'
        function = 'TIME_SERIES_INTRADAY'
        interval = '1min'
        symbol = script
        url = f'https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval={interval}&apikey={API_KEY}'
        response = requests.get(url)
        self.intraday_data[script] = response.json()

    def convert_intraday_data(self, script):
        data = self.intraday_data[script]['Time Series (1min)']
        timestamp = [pd.Timestamp(time) for time in data.keys()]
        open_price = [float(data[time]['1. open']) for time in data.keys()]
        high = [float(data[time]['2. high']) for time in data.keys()]
        low = [float(data[time]['3. low']) for time in data.keys()]
        close = [float(data[time]['4. close']) for time in data.keys()]
        volume = [int(data[time]['5. volume']) for time in data.keys()]
        self.intraday_data[script] = pd.DataFrame({'timestamp': timestamp, 'open': open_price, 'high': high, 'low': low, 'close': close, 'volume': volume})

    def __getitem__(self, script):
        return self.intraday_data[script]

    def __setitem__(self, script, df):
        self.intraday_data[script] = df

    def __contains__(self, script):
        return script in self.intraday_data

    def indicator1(df, timeperiod):
       df['indicator'] = df['close'].rolling(timeperiod).mean()
       return df[['timestamp', 'indicator']]

class Strategy:
    def __init__(self, script_name):
        self.script_name = script_name
        self.script_data = ScriptData()
        
    def get_script_data(self):
        self.script_data.fetch_intraday_data(self.script_name)
        self.script_data.convert_intraday_data(self.script_name)
        self.df = self.script_data[self.script_name]
        
    def get_signals(self, timeperiod=5):
        self.indicator_data = indicator1(self.df, timeperiod)
        close_data = self.df['close']
        signals = []
        for i in range(1, len(self.df)):
            if self.indicator_data['indicator'][i] > close_data[i] and self.indicator_data['indicator'][i-1] <= close_data[i-1]:
                signals.append({'timestamp': self.df['timestamp'][i], 'signal': 'BUY'})
            elif self.indicator_data['indicator'][i] < close_data[i] and self.indicator_data['indicator'][i-1] >= close_data[i-1]:
                signals.append({'timestamp': self.df['timestamp'][i], 'signal': 'SELL'})
        self.signals = pd.DataFrame(signals)
        print(self.signals[self.signals['signal'].isin(['BUY', 'SELL'])])

In [ ]:
strategy = Strategy('NVDA')
strategy.get_script_data()
strategy.get_signals()

             timestamp signal
0  2023-02-13 19:55:00    BUY
1  2023-02-13 19:54:00   SELL
2  2023-02-13 19:50:00    BUY
3  2023-02-13 19:49:00   SELL
4  2023-02-13 19:47:00    BUY
5  2023-02-13 19:44:00   SELL
6  2023-02-13 19:42:00    BUY
7  2023-02-13 19:41:00   SELL
8  2023-02-13 19:39:00    BUY
9  2023-02-13 19:34:00   SELL
10 2023-02-13 19:33:00    BUY
11 2023-02-13 19:32:00   SELL
12 2023-02-13 19:22:00    BUY
13 2023-02-13 19:16:00   SELL
14 2023-02-13 19:15:00    BUY
15 2023-02-13 19:14:00   SELL
16 2023-02-13 19:08:00    BUY
17 2023-02-13 18:58:00   SELL
18 2023-02-13 18:55:00    BUY
19 2023-02-13 18:46:00   SELL
20 2023-02-13 18:45:00    BUY
21 2023-02-13 18:43:00   SELL
22 2023-02-13 18:36:00    BUY
23 2023-02-13 18:29:00   SELL
24 2023-02-13 18:27:00    BUY
25 2023-02-13 18:15:00   SELL
26 2023-02-13 18:07:00    BUY
27 2023-02-13 18:04:00   SELL
28 2023-02-13 18:02:00    BUY
29 2023-02-13 17:55:00   SELL
30 2023-02-13 17:53:00    BUY
31 2023-02-13 17:46:00   SELL
32 2023-02-13 17:43:00    BUY
33 2023-02-13 17:41:00   SELL
34 2023-02-13 17:40:00    BUY
35 2023-02-13 17:35:00   SELL
36 2023-02-13 17:33:00    BUY
37 2023-02-13 17:30:00   SELL
38 2023-02-13 17:28:00    BUY
39 2023-02-13 17:27:00   SELL

**Task 4:** : [OPTIONAL] Plot a candlestick chart of ‘df and ‘indicator’. You can use
‘pyalgotrading’ to do so. The chart will look like this.